body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#body {
  height: 168px;
  width: 110px;
  margin-top: 25px;
}

#display {
  height: 20px;
  width: 100%;
  outline: solid 1px black;
}

.btn-primary {
  outline: solid 1px black;
  width: 25%;
}

.btn-info {
  outline: solid 1px black;
  width: 25%;
}
.btn-warning {
  outline: solid 1px black;
}

.btn-danger {
  outline: solid 1px black;
  width: 25%;
}
#clear {
  width: 75%;
}

#zero {
  width: 50%;
}
